@layer base {
  :root {
    --color-hsl-primary-darkest: 261deg, 73%, 23%;
    --color-hsl-primary-darker: 263deg, 69%, 42%;
    --color-hsl-primary-dark: 262deg, 83%, 58%;
    --color-hsl-primary-darkish: 258deg, 90%, 66%;
    --color-hsl-primary: 255deg, 92%, 76%;
    --color-hsl-primary-light: 252deg, 95%, 85%;
    --color-hsl-primary-lighter: 251deg, 95%, 92%;
    --color-hsl-primary-lightest: 251deg, 91%, 95%;
    --color-hsl-primary-faded: 250deg, 100%, 98%;

    --color-hsl-secondary-darkest: 204deg, 80%, 16%;
    --color-hsl-secondary-darker: 201deg, 90%, 27%;
    --color-hsl-secondary-dark: 200deg, 98%, 39%;
    --color-hsl-secondary-darkish: 199deg, 89%, 48%;
    --color-hsl-secondary: 198deg, 93%, 60%;
    --color-hsl-secondary-light: 199deg, 95%, 74%;
    --color-hsl-secondary-lighter: 201deg, 94%, 86%;
    --color-hsl-secondary-lightest: 204deg, 94%, 94%;
    --color-hsl-secondary-faded: 204deg, 100%, 97%;

    --color-hsl-tertiary-darkest: 166deg, 91%, 9%;
    --color-hsl-tertiary-darker: 163deg, 88%, 20%;
    --color-hsl-tertiary-dark: 161deg, 94%, 30%;
    --color-hsl-tertiary-darkish: 160deg, 84%, 39%;
    --color-hsl-tertiary: 158deg, 64%, 52%;
    --color-hsl-tertiary-light: 156deg, 72%, 67%;
    --color-hsl-tertiary-lighter: 152deg, 76%, 80%;
    --color-hsl-tertiary-lightest: 149deg, 80%, 90%;
    --color-hsl-tertiary-faded: 152deg, 81%, 96%;

    --color-hsl-quaternary-darkest: 343deg, 88%, 16%;
    --color-hsl-quaternary-darker: 343deg, 80%, 35%;
    --color-hsl-quaternary-dark: 347deg, 77%, 50%;
    --color-hsl-quaternary-darkish: 350deg, 89%, 60%;
    --color-hsl-quaternary: 351deg, 95%, 71%;
    --color-hsl-quaternary-light: 353deg, 96%, 82%;
    --color-hsl-quaternary-lighter: 353deg, 96%, 90%;
    --color-hsl-quaternary-lightest: 356deg, 100%, 95%;
    --color-hsl-quaternary-faded: 356deg, 100%, 97%;

    --color-hsl-quinary-darkest: 21deg, 92%, 14%;
    --color-hsl-quinary-darker: 23deg, 83%, 31%;
    --color-hsl-quinary-dark: 32deg, 95%, 44%;
    --color-hsl-quinary-darkish: 38deg, 92%, 50%;
    --color-hsl-quinary: 43deg, 96%, 56%;
    --color-hsl-quinary-light: 46deg, 97%, 65%;
    --color-hsl-quinary-lighter: 48deg, 97%, 77%;
    --color-hsl-quinary-lightest: 48deg, 96%, 89%;
    --color-hsl-quinary-faded: 48deg, 100%, 96%;

    --color-hsl-success-darkest: 143deg, 64%, 24%;
    --color-hsl-success-darker: 142deg, 72%, 29%;
    --color-hsl-success-dark: 142deg, 76%, 36%;
    --color-hsl-success: 142deg, 71%, 45%;
    --color-hsl-success-light: 142deg, 69%, 58%;
    --color-hsl-success-lighter: 142deg, 77%, 73%;
    --color-hsl-success-lightest: 141deg, 79%, 85%;

    --color-hsl-info-darkest: 201deg, 90%, 27%;
    --color-hsl-info-darker: 224deg, 76%, 48%;
    --color-hsl-info-dark: 221deg, 83%, 53%;
    --color-hsl-info: 217deg, 91%, 60%;
    --color-hsl-info-light: 213deg, 94%, 68%;
    --color-hsl-info-lighter: 212deg, 96%, 78%;
    --color-hsl-info-lightest: 213deg, 97%, 87%;

    --color-hsl-warning-darkest: 32deg, 81%, 29%;
    --color-hsl-warning-darker: 35deg, 92%, 33%;
    --color-hsl-warning-dark: 41deg, 96%, 40%;
    --color-hsl-warning: 45deg, 93%, 47%;
    --color-hsl-warning-light: 48deg, 96%, 53%;
    --color-hsl-warning-lighter: 50deg, 98%, 64%;
    --color-hsl-warning-lightest: 53deg, 98%, 77%;

    --color-hsl-alert-darkest: 0deg, 70%, 35%;
    --color-hsl-alert-darker: 0deg, 74%, 42%;
    --color-hsl-alert-dark: 0deg, 72%, 51%;
    --color-hsl-alert: 0deg, 84%, 60%;
    --color-hsl-alert-light: 0deg, 91%, 71%;
    --color-hsl-alert-lighter: 0deg, 94%, 82%;
    --color-hsl-alert-lightest: 0deg, 96%, 89%;

    --color-hsl-grey-black: 240deg, 21%, 10%;
    --color-hsl-grey-darkest: 237deg, 21%, 19%;
    --color-hsl-grey-darker: 237deg, 14%, 27%;
    --color-hsl-grey-dark: 237deg, 10%, 39%;
    --color-hsl-grey-darkish: 243deg, 9%, 58%;
    --color-hsl-grey: 243deg, 13%, 70%;
    --color-hsl-grey-light: 244deg, 19%, 83%;
    --color-hsl-grey-lighter: 244deg, 35%, 92%;
    --color-hsl-grey-lightest: 250deg, 30%, 96%;
    --color-hsl-grey-white: 240deg, 11%, 98%;

    --color-hsl-shade-black: 229, 84%, 5%;
    --color-hsl-shade-darkest: 222, 47%, 11%;
    --color-hsl-shade-darker: 217, 33%, 17%;
    --color-hsl-shade-dark: 215, 25%, 27%;
    --color-hsl-shade-darkish: 215, 19%, 35%;
    --color-hsl-shade: 215, 16%, 47%;
    --color-hsl-shade-lightish: 215, 20%, 65%;
    --color-hsl-shade-light: 213, 27%, 84%;
    --color-hsl-shade-lighter: 214, 32%, 91%;
    --color-hsl-shade-lightest: 210, 40%, 96%;
    --color-hsl-shade-white: 210, 40%, 99%;

    --color-gradient-primary: linear-gradient(135deg, hsla(258, 90%, 66%, 1) 0%, hsla(292, 84%, 61%, 1) 100%);
    --color-gradient-secondary: linear-gradient(135deg, hsla(199, 89%, 48%, 1) 0%, hsla(239, 84%, 67%, 1) 100%);
    --color-gradient-tertiary: linear-gradient(135deg, hsla(160, 84%, 39%, 1) 0%, hsla(84, 81%, 44%, 1) 100%);
    --color-gradient-quaternary: linear-gradient(135deg, hsla(350, 89%, 60%, 1) 0%, hsla(292, 84%, 61%, 1) 100%);
    --color-gradient-quinary: linear-gradient(
      135deg,
      hsla(38, 92%, 50%, 1) 0%,
      hsla(0, 84%, 60%, 1) 100%,
      hsla(0, 84%, 60%, 1) 100%
    );
  }
}

:root {
  --color-primary-darkest: hsla(261, 73%, 23%, 1);
  --color-primary-darker: hsla(263, 69%, 42%, 1);
  --color-primary-dark: hsla(262, 83%, 58%, 1);
  --color-primary-darkish: hsla(258, 90%, 66%, 1);
  --color-primary: hsla(255, 92%, 76%, 1);
  --color-primary-light: hsla(252, 95%, 85%, 1);
  --color-primary-lighter: hsla(251, 95%, 92%, 1);
  --color-primary-lightest: hsla(251, 91%, 95%, 1);
  --color-primary-faded: hsla(250, 100%, 98%, 1);

  --color-secondary-darkest: hsla(204, 80%, 16%, 1);
  --color-secondary-darker: hsla(201, 90%, 27%, 1);
  --color-secondary-dark: hsla(200, 98%, 39%, 1);
  --color-secondary-darkish: hsla(199, 89%, 48%, 1);
  --color-secondary: hsla(198, 93%, 60%, 1);
  --color-secondary-light: hsla(199, 95%, 74%, 1);
  --color-secondary-lighter: hsla(201, 94%, 86%, 1);
  --color-secondary-lightest: hsla(204, 94%, 94%, 1);
  --color-secondary-faded: hsla(204, 100%, 97%, 1);

  --color-tertiary-darkest: hsla(166, 91%, 9%, 1);
  --color-tertiary-darker: hsla(163, 88%, 20%, 1);
  --color-tertiary-dark: hsla(161, 94%, 30%, 1);
  --color-tertiary-darkish: hsla(160, 84%, 39%, 1);
  --color-tertiary: hsla(158, 64%, 52%, 1);
  --color-tertiary-light: hsla(156, 72%, 67%, 1);
  --color-tertiary-lighter: hsla(152, 76%, 80%, 1);
  --color-tertiary-lightest: hsla(149, 80%, 90%, 1);
  --color-tertiary-faded: hsla(152, 81%, 96%, 1);

  --color-quaternary-darkest: hsla(343, 88%, 16%, 1);
  --color-quaternary-darker: hsla(343, 80%, 35%, 1);
  --color-quaternary-dark: hsla(347, 77%, 50%, 1);
  --color-quaternary-darkish: hsla(350, 89%, 60%, 1);
  --color-quaternary: hsla(351, 95%, 71%, 1);
  --color-quaternary-light: hsla(353, 96%, 82%, 1);
  --color-quaternary-lighter: hsla(353, 96%, 90%, 1);
  --color-quaternary-lightest: hsla(356, 100%, 95%, 1);
  --color-quaternary-faded: hsla(356, 100%, 97%, 1);

  --color-quinary-darkest: hwb(21 1% 73%, 1);
  --color-quinary-darker: hsla(23, 83%, 31%, 1);
  --color-quinary-dark: hsla(32, 95%, 44%, 1);
  --color-quinary-darkish: hsla(38, 92%, 50%, 1);
  --color-quinary: hsla(43, 96%, 56%, 1);
  --color-quinary-light: hsla(46, 97%, 65%, 1);
  --color-quinary-lighter: hsla(48, 97%, 77%, 1);
  --color-quinary-lightest: hsla(48, 96%, 89%, 1);
  --color-quinary-faded: hsla(48, 100%, 96%, 1);

  --color-success-darkest: hsla(143, 64%, 24%, 1);
  --color-success-darker: hsla(142, 72%, 29%, 1);
  --color-success-dark: hsla(142, 76%, 36%, 1);
  --color-success: hsla(142, 71%, 45%, 1);
  --color-success-light: hsla(142, 69%, 58%, 1);
  --color-success-lighter: hsla(142, 77%, 73%, 1);
  --color-success-lightest: hsla(141, 79%, 85%, 1);

  --color-info-darkest: hsla(201, 90%, 27%, 1);
  --color-info-darker: hsla(224, 76%, 48%, 1);
  --color-info-dark: hsla(221, 83%, 53%, 1);
  --color-info: hsla(217, 91%, 60%, 1);
  --color-info-light: hsla(213, 94%, 68%, 1);
  --color-info-lighter: hsla(212, 96%, 78%, 1);
  --color-info-lightest: hsla(213, 97%, 87%, 1);

  --color-warning-darkest: hsla(32, 81%, 29%, 1);
  --color-warning-darker: hsla(35, 92%, 33%, 1);
  --color-warning-dark: hsla(41, 96%, 40%, 1);
  --color-warning: hsla(45, 93%, 47%, 1);
  --color-warning-light: hsla(48, 96%, 53%, 1);
  --color-warning-lighter: hsla(50, 98%, 64%, 1);
  --color-warning-lightest: hsla(53, 98%, 77%, 1);

  --color-alert-darkest: hsla(0, 70%, 35%, 1);
  --color-alert-darker: hsla(0, 74%, 42%, 1);
  --color-alert-dark: hsla(0, 72%, 51%, 1);
  --color-alert: hsla(0, 84%, 60%, 1);
  --color-alert-light: hsla(0, 91%, 71%, 1);
  --color-alert-lighter: hsla(0, 94%, 82%, 1);
  --color-alert-lightest: hsla(0, 96%, 89%, 1);

  --color-shade-black: hsla(229, 84%, 5%, 1);
  --color-shade-darkest: hsla(222, 47%, 11%, 1);
  --color-shade-darker: hsla(217, 33%, 17%, 1);
  --color-shade-dark: hsla(215, 25%, 27%, 1);
  --color-shade-darkish: hsla(215, 19%, 35%, 1);
  --color-shade: hsla(215, 16%, 47%, 1);
  --color-shade-lightish: hsla(215, 20%, 65%, 1);
  --color-shade-light: hsla(213, 27%, 84%, 1);
  --color-shade-lighter: hsla(214, 32%, 91%, 1);
  --color-shade-lightest: hsla(210, 40%, 96%, 1);
  --color-shade-white: hsla(210, 40%, 99%, 1);
}
