.appBar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--color-shade-contrast-01);
  border-bottom: var(--divider);
  @apply h-16;
}
.appBarItemsStart {
  margin-left: auto;
}
.appBarItems {
  display: flex;
}
.appBarItemsEnd {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-left: auto;
}
