:root[class~="light"] {
  --shadow-inset: 0px 4px 8px 0px rgba(96, 97, 112, 0.16) inset;
  --shadow-none: none;
  --shadow-min: 0px 1px 2px 0px rgba(96, 97, 112, 0.16);
  --shadow-small: 0px 2px 4px 0px rgba(96, 97, 112, 0.16);
  --shadow-medium: 0px 4px 8px 0px rgba(96, 97, 112, 0.16);
  --shadow-large: 0px 16px 32px 0px rgba(96, 97, 112, 0.16);
  --shadow-xlarge: 0px 16px 32px 0px rgba(96, 97, 112, 0.16);
  --shadow-max: 0px 32px 64px 0px rgba(96, 97, 112, 0.16);
}
